{{define "Edit"}}

{{template "_head"}}

<html>

<body>
    {{template "_menu"}}
    <div class="container">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-5">Editando produto</h1>
                <p class="lead">Insira os detalhes</p>
            </div>
        </div>
        <form method="POST" action="update">
            <input type="hidden" name="id" value="{{.Id}}">
            <div class="row">
                <div class="col-sm-8">
                    <div class="form-group">
                        <label for="name">Nome:</label>
                        <input type="text" name="name" value="{{.Name}}" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8">
                    <div class="form-group">
                        <label for="description">Descrição:</label>
                        <input type="text" name="description" value="{{.Description}}" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="price">Preço:</label>
                        <input type="number" name="price" value="{{.Price}}" class="form-control" step="0.01">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="quantity">Quantidade:</label>
                        <input type="number" name="quantity" value="{{.Quantity}}" class="form-control">
                    </div>
                </div>
            </div>
            <button type="submit" value="salvar" class="btn btn-success">Atualizar</button>
            <a class="btn btn-info" href="/">Voltar</a>
        </form>
    </div>
</body>

</html>

{{end}}